:root {
	/* Primary Colors */
	--main-background: hsl(233, 47%, 7%);
	--card-background: hsl(244, 38%, 16%);
	--accent: hsl(280, 100%, 47%);
	/* Neutral Colors */
	--main-heading_stats: hsl(0, 0%, 100%);
	--main-paragraph: hsla(0, 0%, 100%, 0.75);
	--stat-headings: hsla(0, 0%, 100%, 0.6);
}

.attribution {
	color: white;
	font-size: 11px;
	text-align: center;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: auto;
	list-style: none;
}

img {
	max-width: 100%;
}

body {
	font-family: "inter", sans-serif;
	background-color: var(--main-background);
	height: 100vh;
}

h1,
li {
	color: var(--main-heading_stats);
}

p {
	color: var(--main-paragraph);
	font-size: 15px;
	margin-top: 2rem;
	line-height: 1.5;
}

.container {
	display: grid;
	grid-template-columns: 50% 50%;
	top: 25%;
	left: 50%;
	transform: translate(-50%);
	position: relative;
	max-width: 67.5rem;
	background-color: var(--accent);
	border-radius: 10px;
}

.container-info {
	background-color: var(--card-background);
	padding: 5rem 5rem 0 5rem;
}

.main-image {
	opacity: 60%;
	filter: contrast(150%) brightness(60%);
}

h1 span {
	color: hsl(277, 64%, 61%);
}

.stats ul {
	margin-top: 4rem;
	margin-right: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul h2 {
	color: var(--main-heading_stats);
	font-weight: 700;
	font-size: 22px;
}

li div {
	color: var(--stat-headings);
	font-family: "lexend deca", sans-serif;
	font-size: 12px;
	margin-top: .5rem;
	letter-spacing: .05rem;
}

/*RESPONSIVE MEDIA QUERIES*/
@media (max-width: 1011px) {
	.main-image {
		content: url(/images/image-header-mobile.jpg);
	}

	.container {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;
		overflow: hidden;
		max-width: 20rem;
		margin-top: -5rem;
		margin-bottom: -5rem;
		max-height: 60rem;
	}

	.attribution {
		font-size: 11px;
		text-align: center;
	}

	.main-image {
		width: 100%;
	}

	.container-info {
		padding: 5rem 1rem 0 1rem;
	}

	h1 {
		font-size: 30px;
	}

	p {
		font-size: 16px;
		margin-top: 2rem;
		line-height: 1.8;
	}

	.stats ul {
		margin-top: 4rem;
		margin-left: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	li {
		margin-bottom: 2rem;
	}
}
